{:paths ["src" "resources"],
 :deps {com.amazonaws/aws-java-sdk-dynamodb {:mvn/version "1.11.563"},
        com.taoensso/faraday {:mvn/version "1.12.0"}}
 
 ;;; needed for Metabase as a local dep for local development
 :mvn/repos
 {"opensaml" {:url "https://build.shibboleth.net/nexus/content/repositories/releases/"}}

 :aliases
 {:dev
  {:extra-deps
   {io.github.metabase/metabase {:git/tag "v0.46.0-RC2", :git/sha "32977a42"}}}}}
